@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&family=Open+Sans:wght@300&display=swap');
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}
p{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    text-align: left;
}

#subheading{
  text-align: center;
}

ul li{
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  text-align: left;
}

.projectname{
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 200%;
}

.nav-link{
    font-family: 'Kanit', sans-serif;

}
.projectname{
  color: #f076c7;
}
.projectname:hover {
    color:#59b6cb ;
    text-decoration: none;
  }
.intro{
    background-image: url(https://www.brainandlife.org/siteassets/online-exclusives/covid-19/telehealth-illustration-main.jpg); /** Change this image **/
    width: 100%;
    height: 100%;
    top: 0;
    display: table;
    margin: auto;
    background-size: cover;
}

.intro .inner{
    vertical-align: middle;
    display: table-cell;
    width: 100%;
}

.content{
    margin: 0 auto;
    text-align: center;
}

.content h1{
    color: #59b6cb;
    font-family: 'Kanit' , cursive;
    font-size: 600%;
    background-color: white;

}

#subheading{
    font-family: 'Kanit', sans-serif;
    font-size: 150%;
}
/** This is for the links after the huge background picture thing and the title **/
section{
    text-align: center;
}
.local-links{
    color: black;
    border: 2px solid black;
    padding: 10px 40px;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    display: inline-block;

}

a.local-links:hover{
    color: #59b6cb;
    border: 2px solid #59b6cb;
    text-decoration: none;
}
h2{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: #59b6cb;
}

h4{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: #59b6cb;
}

.information{
  padding: 20px;
  margin: 20px;
  text-align: center ;
}
